.suggestion-item {
  color: white;
  padding: 0.5rem 2rem;
}

.suggestion-item:hover {
  background-color: gray;
}

.suggestion-container {
  z-index: 9999;
  position: absolute;
  max-height: 300px;
  overflow-y: auto;
}

.bg-custom-gray {
  background-color: #3f4042;
}
