.bg-gray-700 {
  background-color: rgba(55, 65, 81, 0.5);
  transition: background-color 0.3s ease; /* Smooth transition */
}

.bg-gray-700:hover {
  background-color: rgba(55, 65, 81, 0.6); /* Darken the background on hover */
}
